<section class="py-12 bg-white" id="about">
  <div class="max-w-3xl mx-auto text-center">
    <h2 class="text-2xl font-bold mb-2">¿Quiénes Somos?</h2>
    <p class="text-base md:text-lg text-gray-700">
      Asociación Jesucristo es mi Casa es una organización registrada dedicada a la protección y bienestar de niños, niñas y adultos mayores en situación de vulnerabilidad en Guatemala. Desde 2006, brindamos refugio, educación y amor, ayudando a quienes más lo necesitan a encontrar esperanza y oportunidades.
    </p>
  </div>
</section>
